name: Create Rancher PR

# This workflow triggers on a push to the main branch. It updates the
# rancher/shepherd dependency in the rancher/rancher repository and opens a PR.
on:
  push:
    branches:
      - main
env:
  INPUT_SOURCE_URL: ${{ github.event.inputs.source_url }}
  INPUT_SOURCE_AUTHOR: ${{ github.event.inputs.source_author }}

jobs:
  create-rancher-pr:
    permissions:
      # This is required for the vault action to get an OIDC token
      id-token: write
      # This is required to checkout the repository
      contents: read
    runs-on: ubuntu-latest
    steps:
      # Checkout the current repo (shepherd) to get the commit SHA
      - name: Checkout shepherd
        uses: actions/checkout@v4

      - name: Get short SHA
        id: sha
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Retrieve token from vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            github/token/rancher--rancher--pull_requests--write token | GH_TOKEN

      # Checkout the target repo (rancher/rancher) where the PR will be created
      - name: Checkout rancher/rancher
        uses: actions/checkout@v4
        with:
          repository: rancher/rancher
          path: rancher
          ref: main
          token: ${{ env.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'rancher/go.mod'

      - name: Create branch, update, and push changes
        id: update_and_push
        working-directory: ./rancher
        run: |
          BRANCH_NAME="shepherd-githubaction-$(date +%Y-%m-%d-%H-%M-%S)"
          echo "branch_name=${BRANCH_NAME}" >> $GITHUB_OUTPUT

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          echo "Creating and switching to new branch: ${BRANCH_NAME}"
          git checkout -b ${BRANCH_NAME}

          echo "Updating rancher/shepherd to commit ${{ github.sha }}"
          go get github.com/rancher/shepherd@${{ github.sha }}
          go mod tidy

          # Check for changes
          if [[ -z $(git status --porcelain) ]]; then
            echo "No changes to commit."
            echo "changes_exist=false" >> $GITHUB_ENV
          else
            echo "Changes detected. Committing and pushing."
            echo "changes_exist=true" >> $GITHUB_ENV
            git add go.mod go.sum
            git commit -m "shepherd-githubaction: Update rancher/shepherd to ${{ steps.sha.outputs.short_sha }}"
            git push origin ${BRANCH_NAME}
          fi
      - name: Create Pull Request
        if: env.changes_exist == 'true'
        id: cpr
        uses: actions/github-script@v7
        with:
          github-token: ${{ env.GH_TOKEN }}
          script: |
            const source_author = process.env.INPUT_SOURCE_AUTHOR || context.actor;
            let body = 'Auto-generated by Shepherd GitHub Actions This PR updates the \`rancher/shepherd\` dependency to the latest version. Please delete the branch after merge.\n\n'
            if  ( `${ process.env.INPUT_SOURCE_URL }` ) {
              body += `\nSource URL: ${ process.env.INPUT_SOURCE_URL }`
            }
            if  ( `${ process.env.INPUT_SOURCE_AUTHOR }` ) {
              body += `\nSource AUTHOR: @${ process.env.INPUT_SOURCE_AUTHOR}`
            }
          
            const { data: pr } = await github.rest.pulls.create({
              title: "[main] shepherd-githubaction: Update rancher/shepherd to latest version",
              body: body,
              owner: "rancher",
              repo: "rancher",
              base: "main",
              head: "${{ steps.update_and_push.outputs.branch_name }}"
            });
            await github.rest.issues.addLabels({
              owner: "rancher",
              repo: "rancher",
              issue_number: pr.number,
              labels: ["automation", "status/auto-created"],
            });
            // Also assign the person who triggered the workflow to the PR for visibility
            await github.rest.issues.addAssignees({
              owner: "rancher",
              repo: "rancher",
              issue_number: pr.number,
              assignees: [source_author],
            });
            // Request reviewers for the pull request
            await github.rest.pulls.requestReviewers({
              owner: "rancher",
              repo: "rancher",
              pull_number: pr.number,
              reviewers: ["hamistao", "slickwarren", "Priyashetty17"],
            });
            console.log(`Created new pull request: ${pr.html_url}`);
            return pr.html_url;

      - name: Check outputs
        if: env.changes_exist == 'true'
        run: |
          echo "Pull Request URL - ${{ steps.cpr.outputs.result }}"